.logo {
  position: absolute;
  top: 2rem;                 
  left: 50%;                  
  transform: translateX(-50%); 
  font-size: 1.4rem;
  color: white;
  text-decoration: none;
  z-index: 1;
}

.logo:hover {
  cursor: pointer;
}

.footer-text {
  position: absolute;
  bottom: 2rem;                
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  opacity: 0.8;
  color: white;
  background-color: transparent;
  z-index: 1;
}